# Puertos expuestos en el Host
FORWARD_API_PORT=8000
FORWARD_FRONTEND_PORT=5173
FORWARD_DB_PORT=3308
FORWARD_REDIS_PORT=6379

# Base de datos en Docker
DB_DATABASE=gestion_activos
DB_USERNAME=user
DB_PASSWORD=password
DB_ROOT_PASSWORD=root
